
.navbar {
    background-color:#006b3f;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    justify-content: left;
}
ul {
    list-style-type: none;
    text-align: left;
    justify-content: space-between;
}
li {
    display: inline;
}
li a {
    padding:10px 180px;
}
h1 {
    color:#fcd116;
}
.card {
    display: flex;
    flex-direction: row;
}
.row {
    width: 50%;
    margin-left: 10%;
    padding: 20px;
}
.btn {
    padding-top: 30px;
}
.card-group {
    padding: 20px;
}
footer {
    text-align: center;
    background-color:#006b3f;
    color: white;
    padding: 20px;
}