.navbar {
    background-color: green;
    flex-direction: column;
    justify-content: space-between;
    padding:20px;
    justify-content: left;
}
ul {
    list-style-type: none;
    text-align: left;
    justify-content: space-between;
}
li {
    display: inline;
}
li a {
    padding:10px 180px;
}
h1, h2 {
    color:gold;
}
.card {
    display: flex;
    flex-direction: row;
}
.row {
    width: 70%;
    margin-left: 10%;
    padding: 20px;
}
btn {
    padding-top: 30px;
}